asgiref
astroid
beautifulsoup4
certifi
cffi
chardet
colorama
cryptography
dj-database-url
Django==3.1
django-bootstrap
django-ckeditor
django-crispy-forms
django-on-heroku
django-js-asset
djangorestframework
dnspython
gunicorn
idna
ipwhois
isort
lazy-object-proxy
lxml
mccabe
Pillow==7.2.0
psycopg2-binary
pycparser
pylint
pytz
requests
six
soupsieve
sqlparse
toml
urllib3
whitenoise
wrapt
django-social-share
django-countries
